# Configuration file for npm (https://docs.npmjs.com/cli/configuring-npm/npmrc)

allow-file=none
allow-git=none
allow-remote=none
engine-strict=true
ignore-scripts=true
lockfile-version=3
min-release-age=2
prefer-dedupe=true
registry=https://registry.npmjs.org/
save-exact=true
