name: Publish
on:
  push:
    branches:
      - main

permissions: read-all

jobs:
  check:
    name: Check
    runs-on: ubuntu-24.04
    outputs:
      released: ${{ steps.version.outputs.released }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # To fetch all tags
          persist-credentials: false
      - name: Check released
        id: version
        run: |
          VERSION="$(grep 'version=' < Containerfile | awk -F'"' '{print $2}')"
          echo "version=v${VERSION}" >> "${GITHUB_OUTPUT}"
          if [ -n "$(git tag --list "v${VERSION}")" ]; then
            echo 'released=true' >> "${GITHUB_OUTPUT}"
          else
            echo 'released=false' >> "${GITHUB_OUTPUT}"
          fi
  git:
    name: Git
    runs-on: ubuntu-24.04
    if: ${{ needs.check.outputs.released == 'false' }}
    permissions:
      contents: write # To push a branch
    needs:
      - check
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Get major version
        id: version
        env:
          VERSION: ${{ needs.check.outputs.version }}
        run: |
          echo "result=${VERSION%%.*}" >>"${GITHUB_OUTPUT}"
      - name: Create release tag
        env:
          VERSION: ${{ needs.check.outputs.version }}
        run: |
          git tag "${VERSION}"
          git push origin "${VERSION}"
      - name: Update major version branch
        env:
          MAJOR_VERSION: ${{ steps.version.outputs.result }}
        run: git push origin "HEAD:${MAJOR_VERSION}"
      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
          VERSION: ${{ needs.check.outputs.version }}
        run: |
          gh release create "${VERSION}" \
            --title "Release ${VERSION}" \
            --notes "Release ${VERSION}" \
            --verify-tag=true \
            --latest=true
  docker:
    name: Docker Hub
    runs-on: ubuntu-24.04
    if: ${{ needs.check.outputs.released == 'false' }}
    permissions:
      id-token: write # To perform keyless signing with cosign
    environment:
      name: docker
      url: https://hub.docker.com/r/ericornelissen/js-re-scan
    needs:
      - check
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Get cosign version
        id: versions
        run: |
          COSIGN_VERSION="$(grep cosign < .tool-versions | awk '{print $2}')"
          echo "cosign=${COSIGN_VERSION}" >>"${GITHUB_OUTPUT}"
      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: v${{ steps.versions.outputs.cosign }}
      - name: Install Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push to Docker Hub
        id: container
        uses: docker/build-push-action@1dc73863535b631f98b2378be8619f83b136f4a0 # v6.17.0
        with:
          context: .
          file: Containerfile
          push: true
          platforms: >-
            linux/amd64,
            linux/arm64
          tags: >-
            docker.io/ericornelissen/js-re-scan:latest,
            docker.io/ericornelissen/js-re-scan:${{ needs.check.outputs.version }}
      - name: Sign container image
        env:
          IMAGE_DIGEST: ${{ steps.container.outputs.digest }}
          REF: ${{ github.sha }}
          REPO: ${{ github.repository }}
          WORKFLOW: ${{ github.workflow }}
        run: |
          cosign sign --yes \
            -a "repo=${REPO}" \
            -a "workflow=${WORKFLOW}" \
            -a "ref=${REF}" \
            "docker.io/ericornelissen/js-re-scan@${IMAGE_DIGEST}"
  ghcr:
    name: GHCR
    runs-on: ubuntu-24.04
    if: ${{ needs.check.outputs.released == 'false' }}
    permissions:
      id-token: write # To perform keyless signing with cosign
      packages: write # To push an image to GHCR
    environment:
      name: ghcr
      url: https://github.com/ericcornelissen/js-regex-security-scanner/pkgs/container/js-re-scan
    needs:
      - check
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Get cosign version
        id: versions
        run: |
          COSIGN_VERSION="$(grep cosign < .tool-versions | awk '{print $2}')"
          echo "cosign=${COSIGN_VERSION}" >>"${GITHUB_OUTPUT}"
      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: v${{ steps.versions.outputs.cosign }}
      - name: Install Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Log in to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push to GHCR
        id: container
        uses: docker/build-push-action@1dc73863535b631f98b2378be8619f83b136f4a0 # v6.17.0
        with:
          context: .
          file: Containerfile
          push: true
          platforms: >-
            linux/amd64,
            linux/arm64
          tags: >-
            ghcr.io/ericcornelissen/js-re-scan:latest,
            ghcr.io/ericcornelissen/js-re-scan:${{ needs.check.outputs.version }}
      - name: Sign container image
        env:
          IMAGE_DIGEST: ${{ steps.container.outputs.digest }}
          REF: ${{ github.sha }}
          REPO: ${{ github.repository }}
          WORKFLOW: ${{ github.workflow }}
        run: |
          cosign sign --yes \
            -a "repo=${REPO}" \
            -a "workflow=${WORKFLOW}" \
            -a "ref=${REF}" \
            "ghcr.io/ericcornelissen/js-re-scan@${IMAGE_DIGEST}"
